body{
    background-image: url("../imgs/pexels-narda-yescas-1566837.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* navbar */
ul {  
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: inline;
    
  
    }  
a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family:monospace;
 }
 li a:hover {  
    background-color: orange;
    color: rgb(0, 0, 0);  
    
    }  
li {
    display: inline;
    padding: 20px;
    }

    /*centering text and styling */



 h3{
     position: absolute;
     font-family: monospace;
     top: 42%;
     right: 25%;
     font-size: 4vw;
     color: white;
     font-weight: bold;
     
    
 }     



 p {
    position: absolute;
    bottom: 0px;
    right: 16px;
    font-family: monospace;
    font-size: 2vw;
    font-weight: bolder;
    background-color:orange;
    padding: 2px;
  }